{{ define "title" }}{{ .Params.keyword }} ({{ .Page.Section }}){{ end }}
{{ define "description" }}{{ .Summary }}{{ end }}

{{ define "main" }}
{{ $dialect := .Page.Section }}
{{ $dialectURL := $dialect | printf "/%s" }}
{{ $vocabulary := .Parent.Title }}
{{ $vocabularyURL := $vocabulary | lower | printf "%s/%s" $dialectURL }}
{{ $githubURL := .File.Path | printf "%s/blob/main/content/%s" .Site.Params.GitHub }}

{{ $siteSections := .Site.Sections }}
{{ partial "breadcrumb.html" (dict
  "dialect" $dialect
  "dialectURL" (ref . $dialectURL)
  "vocabulary" $vocabulary
  "vocabularyURL" (ref . (replace $vocabularyURL " " "-"))
  "keyword" .Params.keyword
  "githubURL" $githubURL
  "siteSections" $siteSections ) }}

<div class="d-flex bg-body flex-fill">
  {{ partial "sidebar.html" . }}
  <div class="flex-xl-grow-1 mw-100">
    <main class="px-3 px-lg-5 pt-4 pb-3">
      <article>
        <header>
          <h1 class="font-monospace d-none d-sm-block h2">
            <b>{{ .Params.keyword }}</b> <span class="text-muted">: {{ .Params.signature }}</span>
          </h1>
          <div class="d-sm-none text-center font-monospace mb-3">
            <h1 class="fw-bold">{{ .Params.keyword }}</h1>
            <span class="text-muted">{{ .Params.signature }}</span>
          </div>
          <p class="lead">{{ .Summary }}</p>
        </header>

        <div class="table-responsive shadow-sm mt-3 mb-4" data-nosnippet>
          <table class="table table-bordered table-light mb-0">
            <tr>
              <th scope="row">Value</th>
              <td class="text-break">
                {{ if isset .Params "value" }}
                  <small>{{ .Params.value | markdownify }}</small>
                {{ else }}
                  {{ errorf "Keyword is missing value description" }}
                {{ end }}
              </td>
            </tr>
            <tr>
              <th scope="row">Kind</th>
              <td class="text-break">
                {{ partial "kind-badges.html" (dict "values" .Params.kind) }}
              </td>
            </tr>
            <tr>
              <th scope="row">Applies To</th>
              <td class="text-break">
                {{ partial "instance-badges.html" (dict "types" .Params.instance) }}
              </td>
            </tr>
            <tr>
              <th scope="row">
                {{ partial "term.html" (dict
                  "term" "Dialect"
                  "tooltip" "A dialect is a version of JSON Schema"
                  "glossary" "draft" ) }}
              </th>
              <td class="text-break">
                {{ partial "dialect-badge.html" (dict "name" $dialect) }}
              </td>
            </tr>
            <tr>
              <th scope="row">
                Introduced In
              </th>
              <td class="text-break">
                {{ partial "dialect-badge.html" (dict "name" (.Params.introduced_in)) }}
              </td>
            </tr>
            <tr>
              <th scope="row">Vocabulary</th>
              <td class="text-break">
                <a href="{{ ref . .Parent.RelPermalink }}">{{ .Parent.Params.title }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Specification</th>
              <td class="text-break">
                <a target="_blank" href="{{ .Params.specification }}">
                  {{ .Params.specification }}
                  <i class="bi bi-box-arrow-up-right ms-1"></i>
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                {{ partial "term.html" (dict
                  "term" "Metaschema"
                  "tooltip" "A metaschema is a schema that validates other schemas"
                  "glossary" "meta-schema" ) }}
              </th>
              <td class="text-break">
                <a target="_blank" href="{{ .Params.metaschema }}">
                  {{ .Params.metaschema }}
                  <i class="bi bi-box-arrow-up-right ms-1"></i>
                </a>
              </td>
            </tr>

            <tr>
              <th scope="row">Official Tests</th>
              <td class="text-break">
                {{ if isset .Params "tests" }}
                  {{ if eq (len .Params.tests) 1 }}
                    <a class="font-monospace" target="_blank" href="https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/main/tests/{{ index .Params.tests 0 }}">
                      {{ index .Params.tests 0 }}
                      <i class="bi bi-box-arrow-up-right ms-1"></i>
                    </a>
                  {{ else }}
                    <ul class="mb-0 ps-4">
                      {{ range (.Params.tests) }}
                        <li>
                          <a class="font-monospace" target="_blank" href="https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/main/tests/{{ . }}">
                            {{ . }}
                            <i class="bi bi-box-arrow-up-right ms-1"></i>
                          </a>
                        </li>
                      {{ end }}
                    </ul>
                  {{ end }}
                {{ else }}
                  <small>None</small>
                {{ end }}
              </td>
            </tr>

            <tr>
              <th scope="row">Default</th>
              <td class="text-break">
                {{ if isset .Params "default" }}
                  {{ if isset .Params.default "description" }}
                    <small>{{ .Params.default.description }}</small>
                  {{ else if isset .Params.default "value" }}
                    <code>{{ .Params.default.value }}</code>
                  {{ else if isset .Params.default "logical_value" }}
                    <small class="align-middle">As if it was set to the (invalid) value: </small>
                    <code class="align-middle">{{ .Params.default.logical_value }}</code>
                  {{ else }}
                    {{ errorf "Invalid default" }}
                  {{ end }}
                {{ else }}
                  <small>None</small>
                {{ end }}
              </td>
            </tr>

            <tr>
              <th scope="row">Annotation</th>
              <td class="text-break">
                {{ if isset .Params "annotation" }}
                  {{ partial "instance-badges.html" (dict "types" .Params.annotation.kind) }}
                  <small>{{ .Params.annotation.description }}</small>
                {{ else }}
                  <small>None</small>
                {{ end }}
              </td>
            </tr>

            <tr>
              <th scope="row">Affected By</th>
              <td class="text-break">
                {{ if isset .Params "interdependencies" }}
                  <ul class="mb-0 ps-4">
                    {{ range (.Params.interdependencies) }}
                      <li>
                        {{ $interdependentVocabularyURL := .vocabulary | printf "/%s/%s" $dialect }}
                        {{ $interdependentKeywordURL := (replace .keyword "$" "") | printf "%s/%s/%s" $dialect .vocabulary }}
                        <a class="font-monospace" href="{{ ref $ $interdependentKeywordURL }}">{{ .keyword }}</a>
                        <small>(Vocabulary: <a href="{{ ref $ $interdependentVocabularyURL }}">{{ title .vocabulary }}</a>)</small>
                      </li>
                    {{ end }}
                  </ul>
                {{ else }}
                  <small>None</small>
                {{ end }}
              </td>
            </tr>

            <tr>
              <th scope="row">Affects</th>
              <td class="text-break">
                {{ if isset .Params "affects" }}
                  <ul class="mb-0 ps-4">
                    {{ range (.Params.affects) }}
                      <li>
                        {{ $affectedVocabularyURL := .vocabulary | printf "/%s/%s" $dialect }}
                        {{ $affectedKeywordURL := (replace .keyword "$" "") | printf "%s/%s/%s" $dialect .vocabulary }}
                        <a class="font-monospace" href="{{ ref $ $affectedKeywordURL }}">{{ .keyword }}</a>
                        <small>(Vocabulary: <a href="{{ ref $ $affectedVocabularyURL }}">{{ title .vocabulary }}</a>)</small>
                      </li>
                    {{ end }}
                  </ul>
                {{ else }}
                  <small>None</small>
                {{ end }}
              </td>
            </tr>

            {{ if isset .Params "related" }}
              <tr>
                <th scope="row">Also See</th>
                <td class="text-break">
                  <ul class="mb-0 ps-4">
                    {{ range (.Params.related) }}
                      <li>
                        {{ $relatedVocabularyURL := .vocabulary | printf "/%s/%s" $dialect }}
                        {{ $relatedKeywordURL := (replace .keyword "$" "") | printf "%s/%s/%s" $dialect .vocabulary }}
                        <a class="font-monospace" href="{{ ref $ $relatedKeywordURL }}">{{ .keyword }}</a>
                        <small>(Vocabulary: <a href="{{ ref $ $relatedVocabularyURL }}">{{ title .vocabulary }}</a>)</small>
                      </li>
                    {{ end }}
                  </ul>
                </td>
              </tr>
            {{ end }}

            {{ if isset .Params "target_version" }}
            <tr>
              <th scope="row">Metafora Version</th>
              <td class="text-break">
                {{ partial "version-badges.html" (dict "version" .Params.target_version) }}
              </td>
            </tr>
            {{ end }}
          </table>
        </div>

        {{ .Content }}
      </article>
    </main>

    {{ partial "book.html" . }}
    {{ partial "help.html" . }}
  </div>
</div>
{{ end }}
