// Functions
@import "../vendor/bootstrap/scss/functions";

// Overrides
$blue: #0969da;

// Required components
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/maps";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/root";

// Optional components
@import "../vendor/bootstrap/scss/utilities";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
// @import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/containers";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/tables";
@import "../vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/scss/buttons";
// @import "../vendor/bootstrap/scss/transitions";
// @import "../vendor/bootstrap/scss/dropdown";
// @import "../vendor/bootstrap/scss/button-group";
@import "../vendor/bootstrap/scss/nav";
@import "../vendor/bootstrap/scss/navbar";
// @import "../vendor/bootstrap/scss/card";
@import "../vendor/bootstrap/scss/accordion";
@import "../vendor/bootstrap/scss/breadcrumb";
// @import "../vendor/bootstrap/scss/pagination";
@import "../vendor/bootstrap/scss/badge";
@import "../vendor/bootstrap/scss/alert";
// @import "../vendor/bootstrap/scss/progress";
// @import "../vendor/bootstrap/scss/list-group";
// @import "../vendor/bootstrap/scss/close";
// @import "../vendor/bootstrap/scss/toasts";
// @import "../vendor/bootstrap/scss/modal";
@import "../vendor/bootstrap/scss/tooltip";
// @import "../vendor/bootstrap/scss/popover";
// @import "../vendor/bootstrap/scss/carousel";
// @import "../vendor/bootstrap/scss/spinners";
// @import "../vendor/bootstrap/scss/offcanvas";
// @import "../vendor/bootstrap/scss/placeholders";
@import "../vendor/bootstrap/scss/helpers";
@import "../vendor/bootstrap/scss/utilities/api";

// Icons
$bootstrap-icons-font: bootstrap-icons;
$bootstrap-icons-font-dir: "./";
@import "../vendor/bootstrap-icons/font/bootstrap-icons.scss";

#search {
  min-width: 400px;
}

#sidebar {
  min-width: 265px;
}

#sidebar > div {
  @extend .position-absolute;
  @extend .top-0;
  @extend .start-0;
  @extend .bottom-0;
  overflow-y: scroll;
}

// Tables with vertical headers collapse the headers by default
table tr > th[scope="row"] {
  width: 1px;
}

a {
  text-decoration: none !important;
}

article table {
  @extend .table;
}

.highlight {
  @extend .bg-light;
  @extend .border;
  @extend .px-2;
  @extend .py-2;
  @extend .my-3;

  > pre {
    @extend .mb-0;
  }
}
