// Functions
@import "../vendor/bootstrap/scss/functions";

// Overrides
$danger: rgba(255, 213, 213, 1);
$navbar-brand-font-size: 1.1rem;
$navbar-padding-y: 1px;
$alert-border-radius: 0;
$nav-link-padding-y: 0.5rem;

// Follow browser's preferred theme
$color-mode-type: media-query;

// Required components
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/variables-dark";
@import "../vendor/bootstrap/scss/maps";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/root";

// Optional components
@import "../vendor/bootstrap/scss/utilities";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
// @import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/containers";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/tables";
@import "../vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/scss/buttons";
// @import "../vendor/bootstrap/scss/transitions";
@import "../vendor/bootstrap/scss/dropdown";
// @import "../vendor/bootstrap/scss/button-group";
@import "../vendor/bootstrap/scss/nav";
@import "../vendor/bootstrap/scss/navbar";
// @import "../vendor/bootstrap/scss/card";
@import "../vendor/bootstrap/scss/accordion";
@import "../vendor/bootstrap/scss/breadcrumb";
// @import "../vendor/bootstrap/scss/pagination";
@import "../vendor/bootstrap/scss/badge";
@import "../vendor/bootstrap/scss/alert";
// @import "../vendor/bootstrap/scss/progress";
// @import "../vendor/bootstrap/scss/list-group";
// @import "../vendor/bootstrap/scss/close";
// @import "../vendor/bootstrap/scss/toasts";
// @import "../vendor/bootstrap/scss/modal";
@import "../vendor/bootstrap/scss/tooltip";
// @import "../vendor/bootstrap/scss/popover";
// @import "../vendor/bootstrap/scss/carousel";
// @import "../vendor/bootstrap/scss/spinners";
// @import "../vendor/bootstrap/scss/offcanvas";
// @import "../vendor/bootstrap/scss/placeholders";
@import "../vendor/bootstrap/scss/helpers";
@import "../vendor/bootstrap/scss/utilities/api";

// Icons
$bootstrap-icons-font: bootstrap-icons;
$bootstrap-icons-font-dir: "./";
@import "../vendor/bootstrap-icons/font/bootstrap-icons.scss";

// Hide ugly details markers in Safari
// See https://stackoverflow.com/a/6202729
details summary::-webkit-details-marker {
  display: none;
}

// Highlight
@import "./highlight.scss";
.highlight {
  @extend .bg-light-subtle;
  @extend .border;
  @extend .px-2;
  @extend .py-2;
  @extend .my-3;

  > pre {
    @extend .mb-0;
  }
}

// Other

#sidebar {
  min-width: 260px;
}

#sidebar-nav-pills {
  font-size: $font-size-sm * 0.75;
}

// Tables with vertical headers collapse the headers by default
table tr > th[scope="row"] {
  width: 1px;
}

.btn-light-dark {
  @extend .btn-light;
  @include color-mode(dark) {
    background-color: $gray-500;
    border-color: $gray-800;
  }
}

.table-highlight {
  td, th {
    background-color: $gray-100;
    @include color-mode(dark) {
      background-color: $gray-800;
    }
  }
}

a {
  text-decoration: none !important;
}

article table {
  @extend .table;
}

.table-danger > td {
  background-color: #FFEAEA;
}

.alert:not(.border) {
  @extend .border-top-0;
  @extend .border-bottom-0;
  @extend .border-end-0;
  border-left-width: $spacer * 0.6;
  & > :last-child {
    @extend .mb-0;
  }
}

.code {
  @extend .bg-opacity-50;

  & > .highlight {
    @extend .py-3;
    @extend .m-0;
    @extend .border-0;
  }

  @include media-breakpoint-up(sm) {
    $code-block-indentation: 25px;
    &.bg-success, &.bg-danger {
      margin-left: $code-block-indentation;
    }

    &.bg-info {
      margin-left: $code-block-indentation * 2;
    }
  }

  &.bg-success > .highlight {
    @extend .bg-success-subtle;
  }

  &.bg-danger > .highlight {
    @extend .bg-danger-subtle;
  }

  &.bg-info > .highlight {
    @extend .bg-info-subtle;
  }
}

details:not([open]) summary i {
  @extend .d-inline-block;
  transform: rotate(-90deg);
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border: none;
  background: none;
  cursor: pointer;
}

.code .highlight {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
