{{ $oreilly := "https://www.oreilly.com/library/view/unifying-business-data/9781098144999/" }}
{{ $amazon := "https://www.amazon.com/_/dp/1098145003" }}
{{ $ebooks := "https://www.ebooks.com/search/?term=9781098145002&affid=OMI5374258" }}

<div class="alert alert-light border shadow-sm mx-3 mx-lg-5 mb-4 mt-3 d-flex align-items-center flex-column flex-md-row" role="alert">
  <a target="_blank" href="{{ $oreilly }}" class="mb-4 mb-md-0 me-md-4">
    <img src="{{ .Site.BaseURL }}/cover.webp" alt="Unifying Business, Data, and Code"
      class="border rounded d-md-none w-100" loading="lazy">
    <img src="{{ .Site.BaseURL }}/cover.webp" alt="Unifying Business, Data, and Code"
      class="border rounded d-none d-md-block" width="227" height="300" loading="lazy">
  </a>
  <div class="flex-grow-1">
    <h3 class="alert-heading h4">Want to learn even more JSON Schema?</h3>
    <p>The authors of this website wrote a book (<a target="_blank" href="{{ $oreilly }}">Unifying Business, Data, and Code</a>) that covers, for the first time in print, topics like:</p>
    <ul>
      <li>Writing your own JSON Schema vocabularies</li>
      <li>Understanding JSON Schema annotations</li>
      <li>Hosting your own JSON Schema registries</li>
    </ul>
    <p>More importantly, our book teaches you a methodology for effective data management that will transform how you think about data.</p>
    <p class="mb-0">Read it online on <a target="_blank" href="{{ $oreilly }}">O'Reilly</a>, or buy it from <a target="_blank" href="{{ $amazon }}">Amazon</a> and <a target="_blank" href="{{ $ebooks }}">eBooks.com</a>.</p>
  </div>
</div>
