{{ if eq (.name) "2020-12" }}
  <a href="{{ .Site.BaseURL }}/{{ .name }}">
    <span class="badge text-bg-info">{{ .name }}</span>
  </a>
{{ else if eq (.name) "2019-09" }}
  <a href="{{ .Site.BaseURL }}/{{ .name }}">
    <span class="badge text-bg-info">{{ .name }}</span>
  </a>
{{ else if eq (.name) "draft7" }}
  <a href="{{ .Site.BaseURL }}/{{ .name }}">
    <span class="badge text-bg-info">Draft 7</span>
  </a>
{{ else if eq (.name) "draft6" }}
  <a href="{{ .Site.BaseURL }}/{{ .name }}">
    <span class="badge text-bg-info">Draft 6</span>
  </a>
{{ else if eq (.name) "draft4" }}
  <a href="{{ .Site.BaseURL }}/{{ .name }}">
    <span class="badge text-bg-info">Draft 4</span>
  </a>
{{ else if eq (.name) "draft3" }}
  <a href="{{ .Site.BaseURL }}/{{ .name }}">
    <span class="badge text-bg-info">Draft 3</span>
  </a>
{{ else if eq (.name) "draft2" }}
  <span class="badge text-bg-secondary"
    data-bs-toggle="tooltip" data-bs-title="This dialect has not been documented on this site (yet)">Draft 2</span>
{{ else if eq (.name) "draft1" }}
  <span class="badge text-bg-secondary"
    data-bs-toggle="tooltip" data-bs-title="This dialect has not been documented on this site (yet)">Draft 1</span>
{{ else if eq (.name) "draft0" }}
  <span class="badge text-bg-secondary"
    data-bs-toggle="tooltip" data-bs-title="This dialect has not been documented on this site (yet)">Draft 0</span>
{{ else }}
  {{ errorf "Unrecognized dialect: %q" .name }}
{{ end }}
