<div class="alert alert-primary mx-3 mx-lg-5 mb-4 mt-3" role="alert">
  <h3 class="alert-heading h4 mb-3">
    <i class="bi bi-info-circle me-1"></i> Feeling stuck? Need expert help?</h3>

  <p><a href="https://www.sourcemeta.com">Sourcemeta</a>, the company behind this site, offers world-class consultancy services in the JSON Schema ecosystem. We have extensive experience designing large-scale JSON Schema ontologies and data models, and OpenAPI Governance initiatives across industries. <a href="mailto:hello@sourcemeta.com">Reach out to discuss more!</a></p>

  <hr>
  <small><b>Hint:</b> You can also get free community help in the <a target="_blank" href="https://app.slack.com/client/T5CHC2TAN/C5CF75URH">JSON Schema Slack</a> and <a target="_blank" href="https://github.com/orgs/json-schema-org/discussions/categories/q-a">JSON Schema GitHub Discussions</a> forum.</small>
</div>
