<div class="alert alert-primary mx-3 mx-lg-5 mb-4 mt-3" role="alert">
  <h3 class="alert-heading h4">
    <i class="bi bi-info-circle me-1"></i> Need help? Have questions?</h3>
  <p>Learning JSON Schema is often confusing, we all went through that. But don't worry, we are here to help! You can start a thread on <a target="_blank" href="https://github.com/json-schema-org/community/discussions/new?category=q-a">GitHub Discussions</a>, chat with us on <a target="_blank" href="https://app.slack.com/client/T5CHC2TAN/C5CF75URH">Slack</a>, or come talk to us at our live <a target="_blank" href="https://github.com/json-schema-org/community/discussions/34">Office Hours</a>. We are friendly! :)</p>
  <hr>
  <small><b>Hint:</b> Your question might have been already answered before in <a target="_blank" href="https://github.com/orgs/json-schema-org/discussions/categories/q-a">GitHub Discussions</a>. Might be worth double-checking before submitting a new one.</small>
</div>
