<div class="table-responsive shadow-sm mt-3 mb-4">
  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th scope="col">
          {{ partial "term.html" (dict
            "term" "Keyword"
            "tooltip" "A keyword is a property defined in a schema"
            "glossary" "keyword" ) }}
        </th>
        <th scope="col">Kind</th>
        <th scope="col">
          {{ partial "term.html" (dict
            "term" "Instance"
            "tooltip" "An instance is a JSON document described by a schema"
            "glossary" "instance" ) }}
        </th>
        <th scope="col">Summary</th>
      </tr>
    </thead>
    <tbody>
      {{ range sort .Paginator.Pages "Params.index" "asc" }}
        <tr>
          <td class="font-monospace">
            <a href="{{ .Permalink }}">{{ .Params.keyword }}</a>
          </td>
          <td>{{ partial "kind-badges.html" (dict "values" .Params.kind) }}</td>
          <td>{{ partial "instance-badges.html" (dict "types" .Params.instance) }}</td>
          <td>{{ .Summary }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
