<nav class="navbar navbar-expand border-bottom bg-body ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}/logo.svg" alt="Learn JSON Schema Logo"
        height="42" width="42" class="me-1">
      <span class="align-middle">JSON Schema Docs</span>
    </a>

    <div class="??">
      <input class="form-control me-2" type="search" id="search-query" placeholder="Search" aria-label="Search" autocomplete="off">
      <ul id="listBox" class="dropdown-menu" aria-labelledby="dropdownMenuLink"></ul>
    </div>

    <div class="navbar-nav d-flex ">
      <a class="btn btn-sm btn-primary" target="_blank" href="{{ .Site.Params.GitHub }}" aria-label="View this project on GitHub">
        <i class="align-middle bi bi-github fs-6"></i>
        <small class="align-middle ms-1">Star on GitHub</small>
      </a>
    </div>
  </div>
</nav>
<div id="search-results"></div>