<aside id="sidebar" class="border-end position-relative d-none d-xl-block">
  <div class="px-4 py-4">

    {{$selected_dialect := index (split .RelPermalink "/") 1}}
    <div class="dropdown">
      <button class="dropdown-button fw-bold ps-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{$selected_dialect}}
        <i class="bi bi-chevron-down"></i>
      </button>
      <ul class="dropdown-menu fw-bold" aria-labelledby="dropdownMenuButton">
        {{ range .Site.Sections }}
        <li><a href="{{ ref $ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
    <hr>

    {{ range .Site.Sections }}
      {{ $dialect := .Title }}
      {{ $dialectURL := $dialect | printf "/%s" }}
      <ul class="nav flex-column text-nowrap mb-4">
        {{ range sort .Sections "Params.index" "asc" }}
          <li class="nav-item">
            {{ $vocabulary := .Title }}
            {{ $vocabularyURL := (replace $vocabulary " " "-") | lower | printf "%s/%s" $dialectURL }}
            <a class="ps-0 nav-link text-body fw-bold" href="{{ ref $ $vocabularyURL }}">
              <i class="bi bi-chevron-down"></i> {{ $vocabulary }}
            </a>
            <ul class="list-unstyled ms-3">
              {{ range sort $.Site.RegularPages "Params.index" "asc" }}
                {{ if eq .Section $dialect }}
                  {{ if eq .Parent.Title $vocabulary }}
                    {{ $keywordURL := (replace .Params.keyword "$" "") | printf "%s/%s" $vocabularyURL }}
                    <li>
                      {{ if eq $.Permalink .Permalink }}
                        <a class="text-muted fw-bold text-decoration-none font-monospace active"
                          href="{{ ref $ $keywordURL }}" aria-current="true">{{ .Params.keyword }}</a>
                      {{ else }}
                        <a class="text-black-50 text-decoration-none font-monospace"
                          href="{{ ref $ $keywordURL }}">{{ .Params.keyword }}</a>
                      {{ end }}
                    </li>
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </li>
        {{ end }}
      </ul>
    {{ end }}

    <small class="text-muted">More dialects coming soon!</small>
  </div>
</aside>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 1;
    list-style-type: none;
    left: -30px;
    text-align: center;
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu li a:hover {
    background-color: #ddd;
  }
  
  .dropdown-button {
    background-color: transparent;
    border: none;
    color: #212529;
    font-size: 1.25rem;
    padding: 0;
  }

  .bi-chevron-down{
    font-size: 1rem;
  }
  hr {
    margin-top: 0px;
  }

  #sidebar {
    overflow-y: auto;
    overflow-x: hidden;
  }

</style>
