<aside id="sidebar" class="border-end position-relative d-none d-xl-block">
  <div class="px-4 py-2">
    {{ range .Site.Sections }}
      {{ $dialect := .Title }}
      {{ $dialectURL := $dialect | printf "/%s" }}
      <ul class="nav flex-column text-nowrap mb-4">
        {{ range sort .Sections "Params.index" "asc" }}
          <li class="nav-item">
            {{ $vocabulary := .Title }}
            {{ $vocabularyURL := (replace $vocabulary " " "-") | lower | printf "%s/%s" $dialectURL }}
            <a class="ps-0 nav-link text-body fw-bold" href="{{ ref $ $vocabularyURL }}">
              <i class="bi bi-chevron-down"></i> {{ $vocabulary }}
            </a>
            <ul class="list-unstyled ms-3">
              {{ range sort $.Site.RegularPages "Params.index" "asc" }}
                {{ if eq .Section $dialect }}
                  {{ if eq .Parent.Title $vocabulary }}
                    {{ $keywordURL := (replace .Params.keyword "$" "") | printf "%s/%s" $vocabularyURL }}
                    <li>
                      {{ if eq $.Permalink .Permalink }}
                        <a class="text-muted fw-bold text-decoration-none font-monospace active"
                          href="{{ ref $ $keywordURL }}" aria-current="true">
                          {{ .Params.keyword }}

                          {{ if eq .Params.target_version "mvp" }}
                          <i class="bi bi-exclamation-square-fill" style="color: #e6194B"
                             data-bs-toggle="tooltip" data-bs-title="It is should be in MVP (Minimal Viable Product)"></i>
                          {{ end }}
                        </a>
                      {{ else }}
                        <a class="text-black-50 text-decoration-none font-monospace"
                          href="{{ ref $ $keywordURL }}">
                          {{ .Params.keyword }}

                          {{ if eq .Params.target_version "mvp" }}
                          <i class="bi bi-exclamation-square-fill" style="color: #e6194B"
                             data-bs-toggle="tooltip" data-bs-title="It is should be in MVP (Minimal Viable Product)"></i>
                          {{ end }}
                        </a>
                      {{ end }}
                    </li>
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</aside>
